 /* .cat-transform a:hover{
    transform: translate(0,-24px);
} */

/* category-strip */

/* main .bg-category{
    min-height: 160px;
    background-size: cover;
    background-position: center;
} */

/* category-list */
